body {margin: 2em;
    font-size: 10px;
    height: 100% auto;
    width: 100% auto;
}
td:last-child {text-align:center;}

.dataTables_length{
    position: fixed;
    top: 60px;
}
.dataTables_filter{
    position: relative;
    top: 20px;
}